@page
@model Bamak.Pages.Admin.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>افزودن pdf </h1>


<hr />
<div class="row">
    <div class="col-md-6"style="background-color:azure">
        <form method="post" enctype="multipart/form-data" style="background-color:aliceblue">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PdfModel.Name" class="control-label"></label>
                <input asp-for="PdfModel.Name" class="form-control" />
                <span asp-validation-for="PdfModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PdfModel.ProductName" class="control-label"></label>
                <input asp-for="PdfModel.ProductName" class="form-control" />
                <span asp-validation-for="PdfModel.ProductName" class="text-danger"></span>
            </div>

            <div><label asp-for="Productse.Picture">فایل پی دی اف </label></div>
            <div>
                <input asp-for="Productse.Picture" />
                <span asp-validation-for="Productse.Picture"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">بازگشت</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
