@page
@model Bamak.Pages.Admin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PdfModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PdfModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PdfModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PdfModel.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PdfModel.ProductName)
        </dd>

        <dd><label>فایل</label></dd>
        <dt>
            <object src="/File/@(Model.PdfModel.ProductName).pdf" style="max-width: 200px" />
        </dt>
        <dd></dd>
        <dt>


            @*<input type="hidden" asp-for="Filess.Name" />*@
            <input type="submit" class="btn btn-danger" value="خذف" />

        </dt>
    </dl>


    <form method="post">
        <input type="hidden" asp-for="PdfModel.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
